body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66BFBF;
  font-size: 80px;
  position: relative;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c9d6df;
  border-width: 5px;
  width: 3%;
}

a {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 20px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.middel-container {
  background-color: #a6e3e9;
  position: relative;
  padding-top: 80px;
}

.top-container {
  font-style: normal;
  margin: 100px 0;
}

.bottom-container {
  text-align: center;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
}

.top-cloud {
  position: relative;
  left: 200px;
  top: 30px;
}

.second-cloud {
  position: relative;
  right: 540px;
  top: 95px;
}

.third-cloud {
  position: absolute;
  right: 140px;
  bottom: 180px;
}

.footer-link {
  color: #11999E;
}

.second-picture {
  height: 220px;
}

.Skill1 {
  height: 130px;
  float: left;
  margin-right: 30px;
}

.Skill2 {
  height: 130px;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-prg {
  color: #40514E;
  font-style: normal;
}

.helo {
  font-family: "Roboto"serif;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-masage {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 10px;
  padding: 20px 0;
}
